language: go

go:
  - 1.11.x
  - 1.12.x
  - 1.13.x

addons:
  code_climate:
    repo_token: 26612c1ca9fe1abab4211bafa1c195800f9f34a76ac9aacdf81e4910c41b5f95

env:
  global:
    - GO111MODULE=on
    - secure: WyBf64IqmXhhQUbUIymfsHa2FbiVh2k0HebM8wCliliYEvo9rklnfvaeHqyjf1KR+FM1n6JyQKTWC8JKVR7IWDPye2Wu420rqiByrKxEHHQdy2Wy8r5Cx0bfAZdKhXuv1LqfR0f2ytBp2pdOqvGdFeiAtWzoIpxw2MDDAl7+lmvuAHNCEkOq+08XvZq1aW6V04un6rGugtF6MkturIcYMh5I/g7Y9bJLBnPerLyNOl1pNNJ5UgKsPLFVuAUCTEDrAMDU95BTpwYB6Pmx5R114S/4Yth1x+iQZEDMqp46PBm4g+Ov/DHR5pexVBqYuw2TuBE7XWqlLjxW/nk4LJ42EXnV4nBlkow1CpakD1vgIWh//w3ZXR5WjpNWq/FG4QJtbEZPjX+DS2wc7jrejjzn8ZuNqw5Pdo6aJU+Wlsgud4O9tmk9Ddkq1pDwL8j3HffWzC3oBNXAlrIzmT+Hf/TebIaYhlvYsgsKYu4hbD3cOtGE2ptIBmMf8NVytDjv8U+0ZkfC4ObcglPIKn4gU7rYVL+brq8o4GpaxMMfmB5hoJ89F4ipd6efv527Hw2f7tntL+60eGd+GjLSgOIH6BgteMeRZPBIPVnwzvS/TqufMAEpMIeZ/0slHKZqMBWTEOYrrQMwlL1ThiKBZ1VhNdToidy5T+AEO6xanyK3nXS1riw=
  
install:
  - go get github.com/mattn/goveralls
  - go mod download

script:
  - test -z "${COVERALLS_TOKEN}" || $HOME/gopath/bin/goveralls -service=travis-ci -repotoken $COVERALLS_TOKEN
  - go test -race -coverprofile=coverage.txt -covermode=atomic ./...

after_success:
  - bash <(curl -s https://codecov.io/bash)

before_deploy:
  # Set up git user name and tag this commit
  - git config --local user.name "Travis"
  - git config --local user.email "Travis@poka-yoke.bot"
  - export TRAVIS_TAG=${TRAVIS_TAG:-$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)}
  - git tag $TRAVIS_TAG


deploy:
  provider: releases
  prerelease: true
  token: secure: BFHZUiJkr6/74OAU9OkuulGBahnafdFSdHYiE0GpclgyNtbGSGKAIOrue1rZ/NclWGDFhA4rOfBxouOr9eu3anQ9qEKSHVsyJodzDGRA5ARcEFgYna2/osYSQibgiwCbvBGm7w1B7oUUodiKRGMrn5vhgIAQBSejOLxUlNbriZHnIbWCUtshPaQ6ktGhj+7yxsWoRjcs4i7KauhdXH/W4D714WLCm+RO67kMZ5q395CcoUPPdbVO+x+OhPMDkOjgyGkanGTr5jRurobBo4l/KdjfV92FJ9h0AqHHwtJ4sQdJ3iAl7Er7RD+rEN67J6EzS77FPD/izOYQLNDbF9mb1j5DjRsV85f/dxYYG6Ts3dv43BfdbqEvDB/84pWckbihW3PC2kbAIL56pcfZ75QVlekwLGegDac3gsoeqP7D5BFGY0YVjnlwGYyjllRy6/L/gtPRYO46AjVgmDSA5FRANU3SjrB7oTMGOxn5v7yDnFBv6ZZquv6Sjl9Uaq9/RqU8SchFyr12rl6dZfdtRoXYhJkT9gG2a5Vy9JN3o6vnxgtdt/7QqGErCOLlUo5vM16AtI5iLGYrFJkiVNPUiDBhHMnIKmuXyt/Ac9+cc/gEUHgwgbu71jOhdNBNWoTGPmJAAZcnyCO/00FpXFZGUPsQQoctgUNytwCWTKjL3o/uXnw=
  file:
    - capcom
    - dextre
    - fido
    - got
    - health
    - odin
    - roosa
    - short
    - trek
  on:
    tags: true
